<% include ../partials/header %>

<% if(currentUser && user._id.equals(currentUser.id)) { %>
    <div class='row'>
        <a class='btn btn-warning btn-sm pull-right col-md-4' href='../forgot'>Forgot password?</a>
   </div>
<% } %>
<div class='row'>
    <div class='col-md-4'>
        <h1><%=user.firstName + ' ' + user.lastName%></h1>
        <a href='mailto:<%=user.email%>'><%=user.email%></a>
        <p><%=user.aboutMe%></p>
    </div>
    <div class='col-md-8'>
        <h3><%=user.username%>'s campgrounds</h3>
        <ul>
            <%campgrounds.forEach(function(campground) { %>
                <li><a href='/campgrounds/<%=campground.id%>'><%=campground.name%></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>